
        body {
            background-color: #f8f9fa;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            min-height: 100vh;
        }
    

    
        .content {
            border: 2px solid #dee2e6;
            border-radius: 10px;
            padding: 20px;
            background-color: #ffffff;
            margin-top: 20px;
        }
    
        footer {
            background-color: #343a40;
            color: #fff;
            text-align: center;
            padding: 20px 0;
            border-top: 2px solid #dee2e6;
            margin-top: auto;
        }
    
        footer nav {
            margin-bottom: 10px;
        }
    
        footer a {
            color: #fff;
            text-decoration: none;
            margin: 0 15px;
            transition: color 0.3s ease;
        }
    
        footer a:hover {
            color: #99c2ff;
        }
    
        .social-icons {
            font-size: 24px;
            margin-top: 10px;
        }
    
        .social-icons a {
            color: #fff;
            margin: 0 10px;
            text-decoration: none;
            transition: color 0.3s ease;
        }
    
        .social-icons a:hover {
            color: #99c2ff;
        }

        form {
            margin-bottom: 20px;
        }

        .class-card {
            margin-bottom: 20px;
        }

        .class-options {
            list-style: none;
            padding: 0;
        }

        .class-option {
            display: inline-block;
            margin-right: 10px;
        }
    
        /* Adjustments for smaller screens */
        @media (max-width: 768px) {
            header {
                padding: 50px 0;
            }
    
            header h1 {
                font-size: 2em;
            }
    
            .feature-box {
                padding: 10px;
            }
    
            footer a {
                margin: 0 10px;
            }
    
            .social-icons {
                font-size: 20px;
            }
        }
        .exam-box {
    border: 1px solid #007bff;
    border-radius: 5px;
    padding: 10px;
    margin-top: 20px;
    background-color: #e3f2fd;
    max-width: 300px; /* Adjust the maximum width as needed */
    margin-left: auto;
    margin-right: auto;
}

