<!-- footer.html -->
{% load static %}
<footer>
    <nav>
        <a href="#">Home</a>
        <a href="#">About</a>
        <a href="#">Contact</a>
        <a href="#">About Us</a>
        <a href="#">Email</a>
        <a href="#">Privacy Policy</a>
        <a href="#">Support</a>
        <a href="#">Terms of Service</a>
    </nav>
    <p>&copy; 2023 Smartscore. All rights reserved.</p>

    <!-- Social Media Icons -->
    <div class="social-icons">
        <a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a>
        <a href="#" target="_blank"><i class="fab fa-twitter"></i></a>
        <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
    </div>
</footer>

<style>
    body {
        background-color: #f8f9fa;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }


    .content {
        border: 2px solid #dee2e6;
        border-radius: 10px;
        padding: 20px;
        background-color: #ffffff;
        margin-top: 20px;
    }

    footer {
        background-color: #343a40;
        color: #fff;
        text-align: center;
        padding: 20px 0;
        border-top: 2px solid #dee2e6;
        margin-top: auto;
    }

    footer nav {
        margin-bottom: 10px;
    }

    footer a {
        color: #fff;
        text-decoration: none;
        margin: 0 15px;
        transition: color 0.3s ease;
    }

    footer a:hover {
        color: #99c2ff;
    }

    .social-icons {
        font-size: 24px;
        margin-top: 10px;
    }

    .social-icons a {
        color: #fff;
        margin: 0 10px;
        text-decoration: none;
        transition: color 0.3s ease;
    }

    .social-icons a:hover {
        color: #99c2ff;
    }
    form {
        margin-bottom: 20px;
    }

    .class-card {
        margin-bottom: 20px;
    }

    .class-options {
        list-style: none;
        padding: 0;
    }

    .class-option {
        display: inline-block;
        margin-right: 10px;
    }

    /* Adjustments for smaller screens */
    @media (max-width: 768px) {
        header {
            padding: 50px 0;
        }

        header h1 {
            font-size: 2em;
        }

        .feature-box {
            padding: 10px;
        }

        footer a {
            margin: 0 10px;
        }

        .social-icons {
            font-size: 20px;
        }
    }
</style>

<!-- Include Bootstrap JS (Popper.js and Bootstrap JS) -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.9/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<!-- Link to your CSS file -->

